.App {
  /* text-align: center; */
}



.App-link {
  color: #09d3ac;
}

header {
  padding-left:30%
}
.header {
  text-decoration: none
}
main{
  display:flex;
  flex-direction: row;
}
.side{
  width:30%;
  padding-top: 20px;
}
.side button{
  width:100%;
}
.main{
  width:70%;
  padding: 20px;
}